<!DOCTYPE html>
<div class="content-area">
  <div class="grid-container">
    <div class="code-section">
      <div class="accordion-group">
        <div class="accordion">
          <div class="accordion-content collapse in">
            <div class="content-demo"><br>
              <h4 class="pull-left" style="margin-top: 2px;">{{ title }}</h4>
              <div class="pull-right">
                <select class='form-control input-sm' #Select (change)='changeTable(Select.value)'>
                  <option *ngFor="let table of tables">{{ table }}</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <div style="width: 50%;">
                <label class="control-label" for="exampleTextInput1">
                  Search By: 
                  <span class="tooltip-info" data-toggle="tooltip"
                    title="Enter tooltip!">
                  </span>
                  <div *ngIf="employees !== []" class="pull-right" style="margin-bottom:10px;">
                    <select class='form-control input-sm' #SearchBy>
                      <option #column (change)='changeSearch(Search.value, Column.value)' *ngFor="let column of columns">{{ column }}</option>
                    </select>
                  </div>
                </label>
                <input type="text" #Search (change)='changeSearch(Search.value, Column.value)' id="exampleTextInput1" class="form-control"
                  placeholder="Enter search terms" maxlength="60" />
                <p class="help-block">Maximum of 60 characters</p>
              </div>
            </div>
            <div class="table-responsive" style="position: relative;">
              <div class="table-responsive scrollbars scrollbar-inner scroll-content"
                style="height: auto; margin-bottom: -17px; margin-right: -17px; max-height: 265px;">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>
                        <div class="checkbox">
                          <input type="checkbox" id="table1Checkbox1"
                            onchange="$(this).closest('table').find(':checkbox').prop('checked', $(this).is(':checked'));">
                          <label for="table1Checkbox1"></label>
                        </div>
                      </th>
                      <th *ngFor="let column of columns">{{ column }}</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="employees !== []">
                    <tr *ngFor="let employee of employees">
                      <td>
                        <div class="checkbox">
                          <input type="checkbox" id="table1Checkbox{{employee.id}}">
                          <label for="table1Checkbox{{employee.id}}"></label>
                        </div>
                      </td>
                      <td>{{ employee.id }}</td>
                      <td><a href="http://localhost:5000/getEmployeeSkills/{{ employee.id }}">{{ employee.name }}</a></td>
                      <td>{{ employee.surname }}</td>
                      <td>{{ employee.job_title }}</td>
                      <td>{{ employee.team }}</td>
                      <td>{{ employee.line_manager }}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="skills !== []">
                    <tr *ngFor="let skill of skills">
                      <td>
                        <div class="checkbox">
                          <input type="checkbox" id="table1Checkbox{{skill.employeeId}}">
                          <label for="table1Checkbox{{skill.employeeId}}"></label>
                        </div>
                      </td>
                      <td>{{ skill.employeeId }}</td>
                      <td><a href="http://localhost:5000/getEmployeeSkills/{{ skill.employeeId }}">{{ skill.name }}</a></td>
                      <td>{{ skill.surname }}</td>
                      <td>{{ skill.stack }}</td>
                      <td>{{ skill.skill }}</td>
                      <td>{{ skill.rating }}</td>
                    </tr>
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <td colspan="6">
                        <nav aria-label="Page navigation">
                          <ul class="pagination pull-right no-margin">
                            <li class="pagination-extra">1-10 of 100</li>
                            <li>
                              <a href="#">
                                <span aria-label="Previous" class="fa fa-angle-left"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span aria-label="Next" class="fa fa-angle-right"></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </td>
                    </tr>
                  </tfoot> -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>