<tr>
  <td>
    <div class="checkbox">
      <input type="checkbox" id="table1Checkbox2">
      <label for="table1Checkbox2"></label>
    </div>
  </td>
  <td>Lorem ipsum dolor</td>
  <td>Lorem ipsum</td>
  <td>1234</td>
  <td>$ 1,177.60</td>
  <td>$ 1,017.48</td>
</tr>
<tr>
  <td>
    <div class="checkbox">
      <input type="checkbox" id="table1Checkbox3">
      <label for="table1Checkbox3"></label>
    </div>
  </td>
  <td>Lorem ipsum dolor</td>
  <td>Lorem ipsum</td>
  <td>1234</td>
  <td>$ 1,177.60</td>
  <td>$ 1,017.48</td>
</tr>
<tr>
  <td>
    <div class="checkbox">
      <input type="checkbox" id="table1Checkbox4">
      <label for="table1Checkbox4"></label>
    </div>
  </td>
  <td>Lorem ipsum dolor</td>
  <td>Lorem ipsum</td>
  <td>1234</td>
  <td>$ 1,177.60</td>
  <td>$ 1,017.48</td>
</tr>