<div class="content-area">
  <div class="grid-container">
    <div class="code-section">
      <div class="accordion-group">
        <div class="accordion">
          <div class="accordion-content collapse in">
            <div class="content-demo">
              <div class="form-group has-icon"><br>
                <div class="dropdown" data-dropdown>
                  <input type="text" class="hidden" id="exampleCssDropdownValue2">
                  <button type="button" class="form-control dropdown-toggle" id="exampleCssDropdown2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Employees
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleCssDropdown2">
                    <div class="scrollbars">
                      <ul class="dropdown-menu" aria-labelledby="exampleCssDropdown1">
                        <li>
                          <a href="#" data-value="1" data-label="Employees">
                            <strong>Employee Details</strong>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-value="2" data-label="Backend">
                            <strong>Backend Details</strong>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-value="2" data-label="Frontend">
                            <strong>Frontend Details</strong>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-value="2" data-label="NTT System">
                            <strong>NTT System Details</strong>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <span class="form-control-feedback fa-building-o"></span>
                </div>
              </div>
            </div>
            <h4>
              <!-- Title of the Table -->
              Title of Table
            </h4>
            <app-table></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>